banned-ips.json
banned-players.json
eula.txt
hs_err_pid612.log
hs_err_pid945.log
logs/
ops.json
replay_pid612.log
server.jar
server.properties
usercache.json
whitelist.json
world/
**/.terraform/*
*.tfstate*
